<div *ngIf="(user !== undefined || id < 0) && productOffering !==undefined">
  <div class="row">

    <div class="col"></div>

    <div class="col-10 container">
      <div class="row">

        <div class="col" align="center">
          <div class="w-75 h-100">
            <carousel [isAnimated]="true" class="m-1 align-middle">
              <div *ngFor="let param of productOffering.params">
                <slide *ngIf="param.image">
                  <img src={{param.value}} alt="first slide" style="display: block; width: 100%">
                </slide>
              </div>
            </carousel>
          </div>
        </div>

        <div class="col" align="center">
          <h1>{{productOffering.name}}</h1>

          <!--<img src="../../../../../assets/icons/no_image.png" class="product-image">-->
          <p class="form-row text-justify">{{productOffering.description}}</p>

          <table class="table table-hover table-responsive-sm w-auto">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let detail of productOffering.params; let i = index">
              <th scope="row">{{i}}</th>
              <td>{{detail.name}}</td>
              <td>{{detail.value}}</td>
            </tr>
            </tbody>
          </table>

          <div class="row">
            <p class="font-weight-bold">Price: </p>
            <p class="ml-3 price font-weight-bold">{{'$' + productOffering.price}}</p>
          </div>
          <div class="form-row align-items-center" *ngIf="id > -1">
            <label for="productQuantity">Quantity: </label>
            <div class="ml-3 align-center def-number-input number-input safari_only">
              <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
              <input #quantity id="productQuantity" class="quantity" min="1" name="quantity" value="1" type="number">
              <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
            </div>
            <div class="">
              <div *ngIf="!productOffering.isBanned">
                <div *ngIf="!user.isAdmin && !isSubscribed && !user.isBanned">
                  <button type="submit"
                          class="btn btn-outline-success my-2 my-sm-0 ml-3"
                          (click)="buyQuantity(quantity.value)"
                          routerLink="../profileDetails">Buy
                  </button>
                  <button type="submit"
                          class="btn btn-outline-success my-2 my-sm-0 ml-3"
                          (click)="buyQuantity(quantity.value)"
                          routerLink="../profileDetails">Add to cart
                  </button>
                </div>
              </div>
              <p *ngIf="user.isBanned && !user.isAdmin" class="text-danger ml-3">It seems your account is banned.</p>
              <p *ngIf="!user.isAdmin && productOffering.isBanned" class="text-dangerml-3">Service is temporarily
                unavailable.</p>
              <button *ngIf="user.isAdmin && !productOffering.isBanned" type="submit"
                      class="btn btn-outline-danger my-2 my-sm-0 ml-3"
                      (click)="ban()">Ban
              </button>
              <button *ngIf="user.isAdmin && productOffering.isBanned" type="submit"
                      class="btn btn-outline-success my-2 my-sm-0 ml-3"
                      (click)="unBan()">Unban
              </button>
            </div>
          </div>
          <p *ngIf="notEnoughMoney" class="text-danger">Failed, please check your billing account settings.</p>
        </div>
      </div>
    </div>

    <div class="col"></div>
  </div>
</div>
